<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'/>
  <link rel="stylesheet" href="https://cdn.plyr.io/3.6.3/plyr.css"/>
  <link href="${pageContext.request.contextPath} ../../css/style.css" rel="stylesheet">
  <title>Ошибка</title>
</head>

<header th:replace="/block/header :: head"></header>

<body>
  <br>
    <br>
      <br>
        <br>
          <br>
            <img
              src='https://mir-s3-cdn-cf.behance.net/project_modules/disp/6f992730412917.56216a8b066cc.gif'
              width="100"
              height="100"
              style="border-radius: 10px;"/>
<h1>Готово</h1>
<p>Трек добавлен в избранное</p>
<div class="backBlu"><a href="/">Продолжить</a></div>
</body>
</html>
