<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
    <link href="${pageContext.request.contextPath} ../../css/style.css" rel="stylesheet">


    <title>Music</title>
</head>
<body>

<!-- partial:index.partial.html -->
<div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="container">

          <div class="masthead clearfix">
            <div class="container inner">
              <h3 class="masthead-brand">Music</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="/">Глава</a></li>
                  <li><a href="#">Избранное</a></li>
                  <li><a href="/login">Войти</a></li>

                </ul>
              </nav>
            </div>
          </div>

         <div class="inner cover">
          <!---->


        <!---->
            <form enctype='multipart/form-data' action="/" method="post" class="search-bar">

              <input type="text" name="search" pattern=".*\S.*" required>
              <button class="search-btn" type="submit">
                <span>Search</span>
              </button>
            </form>


          </div>

        </div>

      </div>

    </div>
<!-- partial -->

</body>
</html>
