<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Регистрация</title>

  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
  <link href="${pageContext.request.contextPath} ../../css/style.css" rel="stylesheet">

  
</head>




<body>
<!-- partial:index.partial.html -->
<div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="container">

          <div class="masthead clearfix">
            <div class="container inner">
              <h3 class="masthead-brand">Music</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li><a href="/">Глава</a></li>
                  <li><a href="#">Избранное</a></li>
                  <li class="active"><a href="/login">Войти</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <!--  -->

          <div class="form">
            <div class="title">Регистрация</div>
       
            <div class="input-container ic1">
              <input id="login" class="input" type="text" placeholder=" " />
              <div class="cut"></div>
              <label for="login" class="placeholder">Логин</label>
            </div>
            <div class="input-container ic2">
              <input id="pass" class="input" type="text" placeholder=" " />
              <div class="cut"></div>
              <label for="pass" class="placeholder">Пароль</label>
            </div>  
            <div class="input-container ic2">
                <input id="return" class="input" type="text" placeholder=" " />
                <div class="cut"></div>
              <label for="return" class="placeholder">Повторите пароль</label>
            </div>
            <button type="text" class="submit">Зарегистрироваться</button>
            <br> <br> <a href="/login">Войти</a>
          </div>

        <!---->
          </div>

        </div>

      </div>

    </div>
<!-- partial -->
  
</body>
</html>