<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<audio controls>

    <source src="https://cdn1.deliciouspeaches.com/get/music/20210421/Kaito_Shoma_-_GAZ_72919863.mp3" type="audio/mp3" />
    <p>
        Ваш браузер не поддерживает HTML5 аудио. Вот взамен
        <a href="myAudio.mp4">ссылка на аудио</a>
    </p>
</audio>
</body>
</html>