<div th:fragment="head"><br><br><br><br>
  <div class="site-wrapper">
    <div class="site-wrapper-inner">
      <div class="container">
        <div class="masthead clearfix">
          <div class="container inner">
            <a href="/"><h3 class="masthead-brand">MUZLO</h3></a>
            <nav>
              <ul class="nav masthead-nav">
                <li><a href="/result">🔎</a></li>
                <li><a href="/">Глава</a></li>
                <li><a href="/favourites">Избранное</a></li>
                <li><a href="/login">Войти</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>