body {
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  max-height: 100vh;
  margin: 0;
  color: #fff;
  display: flex;
  flex-direction: column;
  background: #222222;
  background: -webkit-linear-gradient(to top, #232526, #414345);
}
body a {
  color: inherit;
}
body a:not(:hover) {
  text-decoration: none;
}
body #link-a-me {
  position: absolute;

  bottom: 80px;
  right: 20px;
  height: 60px;
  width: 60px;
  background: url(https://i.imgur.com/xoxkq1r.png);
  background-size: cover;
  z-index: 1;
  -webkit-animation: pop-in 120s ease-out;
          animation: pop-in 120s ease-out;
}
body .content {
  overflow: hidden;
  flex-grow: 1;
  height: calc(100% - 80px);
}

body .player {
  z-index: 10;
  background: #FFF;
  color: #000;
  min-height: 100px;
  max-height: 80px;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
}
body .player .left {
  width: 100px;
  background-image: url(https://sun6-22.userapi.com/s/v1/ig2/RDPrnjWLN7GQWoJ1rijxodbGQOKrHfvUeeKxL3-7vAPuKmCr7oSEzBE073SlJEwg-1wRuVnA-cch53lht2x7gOFY.jpg?size=1024x1024&quality=96&crop=0,0,1024,1024&ava=1);
  background-size: cover;
  border-radius: 10px;
}
body .player .right {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
body .player .right .top {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
}
body .player .right .top .song {
  font-size: 1.2em;
  font-weight: 600;
}
body .player .right .bottom {
  display: flex;
}
body .player .right .bottom video {

  flex-grow: 1;

  height: 35px;

}

@-webkit-keyframes pop-in {
  0%, 95% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes pop-in {
  0%, 95% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}